.thoughts-list {
  margin-left: 30px;
  display: grid;
  grid-row: auto;

  // flex-wrap: wrap; // Allow wrapping of cards
  // justify-content: space-between; // Space between cards
  // margin-bottom: 100px;
  margin-top: 20px;
}

.thought-card {
  background: rgba(255, 255, 255, 0.1); // Background for the card
  border: 1px solid #ccc; // Border style
  padding: 20px; // Inner padding for the card
  margin-bottom: 20px; // Margin below each card
  width: calc(100%); // Full width with margins considered
  max-width: 600px; // Maximum width for larger screens
  display: flex; // Flexbox for inner content alignment
  align-items: center; // Center items vertically
  border-radius: 8px; // Rounded corners

  img {
    width: 50px; // Image size
    height: 50px; // Image height
    border-radius: 50%; // Circular image
    margin-right: 20px; // Space between image and text
  }

  .thought-content {
    h3 {
      font-size: 1.2rem; // Font size for title
      margin: 0; // Remove margin
      color: rgb(166, 0, 255); // Title color
    }

    p {
      margin: 0.5rem 0; // Margin for paragraph
      color: #000000; // Text color
    }

    span {
      font-size: 0.9rem; // Font size for the span
      color: #888; // Color for the span
    }
  }
}
